.home-prop {
  background-color: #232424;
  min-height: 50vh;
}

.search-home .search-btn {
  background-color: #fbc344 !important;
  width: 100% !important;
  color: black !important;
}

/* default edit */
.home-prop .nav-pills .nav-link {
  background-color: #ffffff;
  color: #121212;
}
.App--prop .nav-pills .nav-link {
  background-color: #ffffff;
  color: #121212;
}

.App--prop .nav-pills .nav-link.active,
.App--prop .nav-pills .show > .nav-link,
.home-prop .nav-pills .nav-link.active,
.home-prop .nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #fbc344;
}

.select-width {
  /* width: 180px;
  height: 45px; */
}

/* fbdhjfn */
.App--projs .nav-link {
  border-bottom: 2px solid white;
}

/* Yellow border bottom for the active Nav link */
.App--projs .nav-link.active {
  border-bottom: 2px solid yellow;
}
.App--projs .proj-tab-bg {
  min-height: 300px;
  width: 100vw;
  background-image: linear-gradient(to bottom, #1312129f 70%, #050505f6 85%),
    url("/public/property-req.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.App--projs .proj-tab-bg h2 {
  font-weight: 600;
  font-size: 60px;
}

/* Responsiveness */

@media (max-width: 1200px) {
}
@media (max-width: 1015px) {
}

@media (max-width: 940px) {
  /* Adjust styles for screens up to 940px */
}
@media (max-width: 700px) {
  /* Adjust styles for screens up to 940px */
  .select-width {
    /* width: 140px;
    height: 40px; */
    margin: 5px 1rem;
  }
}

@media (max-width: 640px) {
  .btn_center {
    text-align: center;
  }
  /* Adjust styles for screens up to 640px */
  .proj-tab-bg h2 {
    font-size: 40px;
  }
  .proj-tab-bg span {
    font-size: 13px;
  }
  .proj-tab-bg img {
    margin-left: 1rem;
  }
  .select-width {
    width: 120px;
    height: 36px;
  }
}
@media (max-width: 640px) {
  /* Adjust styles for screens up to 640px */
  .proj-tab-bg h2 {
    font-size: 30px;
  }
  .select-width {
    width: 100px;
    height: 33px;
  }
  .App--projs .proj-tab-bg h2 {
    font-size: 27px;
  }
}
@media (max-width: 540px) {
  .select-width {
    width: 80px;
    height: 28px;
  }
}

@media (max-width: 480px) {
  /* Adjust styles for screens up to 480px */
  .proj-tab-bg h2 {
    font-size: 30px;
  }
}
