.get-in-touch {
  min-height: 400px;
  /* background-color: #ffffff; */
  /* padding: 0px; */
}
.get-in-touch .input-side {
  padding: 50px 50px;
}

@media (max-width: 640px) {
  .display_none {
    display: none;
  }

  .get-in-touch .input-side {
    padding: 40px 10px;
  }
}
