.AboutVideo {
  min-height: 50vh;
  color: #000000;
}
.AboutImages {
  padding: 40px;
}
.WhatPeepsSay {
  padding: 40px;
}

.AboutVideo h3 {
  font-weight: 600;
  font-size: 32px;
}
.AboutVideo p {
  font-weight: 400;
  font-size: 15px;
}
.AboutVideo .core-val {
  background-color: #e1e1e1;
  padding: 40px;
}
.AboutVideo .affil-sub {
  background-color: #000000;
  padding: 200px;
  color: #ffffff;
  text-align: center;
  min-height: 400px;
}

/* what_peep_wrap-1 */
.what_peep_wrap-1 {
  background-color: #ebebeb;
  text-align: center;
  position: relative;
  min-height: 200px;
  padding: 40px 50px;
}
.what_peep_wrap-1 span,
.what_peep_wrap-1 p {
  font-weight: 400;
  font-size: 15px;
}
.what_peep_wrap-1 .top-img {
  border-radius: 200px !important;
  /* border: 15px solid #fff; */
  display: flex;
  justify-content: center;
}
.what_peep_wrap-1 .top-img img {
  width: 25%;
  height: 25%;
  border-radius: 200px;
  outline: 15px solid #fff;
  margin-bottom: 3rem;
  margin-top: -85px;
}
/* what_peep_wrap-1 */

.comp-logo {
  /* min-height: 300px; */
  color: #ffffff;
  background-image: linear-gradient(to bottom, #111111a2, #111111a2),
    url("/public/news-letter-img.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.font_18 {
  font-weight: 500;
  font-size: 18px;
}
.font_15 {
  font-weight: 400;
  font-size: 15px;
}
.font_12 {
  font-size: 13px;
  font-weight: 300;
}

.img_padding {
  padding: 0px 80px;
}

.work_us {
  background-color: #e1e1e1;
}
.work_us-img {
}
.work_us-text {
  padding: 10px 100px;
}

@media (max-width: 640px) {
  .AboutImages_our_agent {
    margin-left: 5px;
  }

  .AboutVideo h3 {
    font-size: 22px;
  }

  .AboutImages {
    padding: 10px;
  }

  .AboutVideo .AboutVideo_wrap {
    padding-bottom: 0px !important;
  }

  .AboutVideo h2 {
    font-size: 23px;
    margin-top: 0.4rem !important;
    /* margin-bottom: 2rem !important; */
  }

  .AboutVideo .affil-sub {
    padding: 20px 10px;
  }
  .AboutVideo .affil-sub h3 {
    font-size: 22px;
    margin: 10px 0px !important;
  }
  .AboutVideo .affil-sub p {
    font-size: 13px;
  }

  .AboutVideo_1st_col {
    order: 1;
  }
  .AboutVideo_1st_col img {
    width: 100%;
  }
  .AboutVideo_2nd_col {
    order: 2;
  }

  .work_us-img img {
    width: 100%;
  }

  .work_us-text {
    padding: 20px;
  }

  .img_padding {
    padding: 0px 0px;
  }

  .img_padding img {
    width: 92%;
  }

  .AboutImages {
    padding: 0 5 0 15px;
    align-items: center;
  }
}
