.h-wrapper {
  z-index: 99;
  position: sticky;
  top: 0;
}
.h-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* color: var(--secondary); */
  justify-content: space-between;
}

.h-menu {
  gap: 5.5rem;
}
.h-menu > *:hover {
  cursor: pointer;
}
.menu-icon {
  display: none;
}

#about-mobile {
  display: none;
  padding: 7px 13px;
}

.header-btn a {
  color: #000000 !important;
}

div .header-btn {
  background: #fbc344 !important;
  border-radius: 9px;
  color: #000000 !important;
  padding: 7px 13px;
}

.activeLink {
  border-bottom: 2px solid #fbc344;
  /* // You can customize other styles for the active link here */
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .h-menu {
    color: var(--black);
    position: absolute;
    gap: 2rem;
    font-weight: 500;
    flex-direction: column;
    right: 4rem;
    top: 3rem;
    background: white;
    display: flex;
    border-radius: 10px;
    transition: all 200ms ease;
    align-items: flex-start;
    padding: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }
  #about-desktop {
    display: none;
    color: #000000;
  }
  div .header-btn {
    display: none;
  }
  #about-mobile {
    display: block;
  }
}
